body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #525252; /* Clean background attempt */
  color: #e0dede;
  line-height: 1.6;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #9F95E1; /* was #maroon */
  padding-bottom: 10px;
  margin-bottom: 20px;
}
header a {
  text-decoration: none;
  font-weight: bold;
  color: #45B1E0; /* #333; */
}
nav {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #45B1E0;
  font-weight: bold;
}

h2 {
  margin-top: 30px;
  color: #45B1E0;
}

footer {
  margin-top: 40px;
  border-top: 3px solid #9F95E1; /* purple footer */
  padding-top: 10px;
  font-size: 0.9em;
  color: #45B1E0;
  text-align: center;
}
